@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Megrim&family=Yusei+Magic&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Megrim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* --------------------------------------*
 * keyframes
 *-------------------------------------- */
@keyframes line-flow {
  from {
    stroke-dashoffset: 300; /* 開始時は非表示 */
  }
  to {
    stroke-dashoffset: 0; /* 終了時に全て表示 */
  }
}
@keyframes backtext {
  0% {
    transform: translateX(20%); /* 右端から開始 */
  }
  100% {
    transform: translateX(-97%); /* 左端まで移動 */
  }
}
/* --------------------------------------*
 * 初期設定
 *-------------------------------------- */
* {
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}
button {
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #212529;
}
a {
  text-decoration: none;
}
button a {
  color: #fff;
}
li {
  list-style-type: none;
}
/* --------------------------------------*
 * common
 *-------------------------------------- */
html {
  font-family: "Noto sans JP", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #fafcff;
  font-size: 20px;
}
.backtext-box {
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -2;
  white-space: nowrap;
}
.backtext {
  color: rgba(13, 124, 188, 0.11);
  font-family: Inter;
  font-size: 280px;
  font-weight: 400;
  white-space: nowrap;
  display: inline-block;
  animation: backtext 20s linear infinite;
  margin-right: 20%;
}
.text-bold600 {
  font-weight: 600;
}
.text-bold700 {
  font-weight: 700;
}
.text-orange {
  color: #ff9500;
}
.text-blue {
  color: #0d7cbc;
  font-weight: 600;
}
.buttons {
  display: flex;
  gap: 36px;
  justify-content: right;
  font-size: 16px;
  font-weight: 800;
}
.buttons button {
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease,
    background-color 0.5s ease;
  box-shadow: 4px 8px 18px rgba(0, 0, 0, 0.4), 0 1px 3px rgba(0, 0, 0, 0.08); /* 立体感を出す影 */
}
.buttons button:hover {
  box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.06); /* 押し込まれたような影 */
  transform: translateY(4px);
}
.buttons button:active {
  transform: translateY(6px);
}
.buttons_contact {
  background: #ff9500;
}
.buttons_download {
  background: #21ba43;
}

.buttons_contact:hover {
  background-color: #0d7cbc;
}
.buttons_download:hover {
  background-color: #0d7cbc;
}

.sticky-buttons {
  width: 362px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100vh - 90px);
  z-index: 9;
}
.sticky-button {
  width: 362px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 12px 12px 0px 0px;
  background: rgba(33, 186, 67, 0.9);
  font-size: 20px;
  font-weight: 700;
}
.sticky-button a {
  position: relative;
}
h2 {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
.ttl_bold {
  font-family: "ADLaM Display";
  font-size: 48px;
}
.ttl_boldline {
  font-size: 48px;
  font-weight: 600;
  background-image: linear-gradient(
    to top,
    rgba(255, 149, 0, 0.9) 40%,
    transparent 40%
  );
  background-size: 100% 90%;
}

.ttl_color {
  color: #0d7cbc;
  font-weight: 600;
  letter-spacing: 2px;
}
.ttl_underline::after {
  content: "";
  width: 200px;
  border-top: #0d7cbc 5px solid;
  position: absolute;
  bottom: -93px;
  left: 50%;
  transform: translateX(-50%);
}

.ttl_white {
  color: white;
}

.ttl_sub {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.8px;
  position: absolute;
  top: -20px;
  left: 50%;
  width: fit-content;
  transform: translateX(-50%);
  white-space: nowrap;
}

/* --------------------------------------*
 * header
 *-------------------------------------- */
header {
  background-color: #fafcff;
  z-index: 8;
  /* position: sticky;
  top: 0; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 158px;
}
.header_left {
  margin: 27px 0 27px 5%;
  display: grid;
  grid-template-columns: auto auto;
}
.header_logo {
  width: 100px;
  margin-right: 20px;
}
.header_ttl {
  margin-top: 22px;
  height: 36px;
  width: 256px;
  color: #000;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
.header_subttl {
  height: 23px;
  color: #0d7cbc;
  font-size: 16px;
  font-weight: 600;
  display: block;
}
header .buttons {
  margin-top: 49px;
  margin-right: 6%;
}
header .buttons button::before {
  background: rgb(215, 209, 209);
}
/* --------------------------------------*
 * kv
 *-------------------------------------- */
.kv {
  margin: 80px 0 98px;
  position: relative;
}
h1 {
  font-size: 48px;
  margin-left: 16%;
}
.kv .backtext-box {
  top: -5px;
  left: 0;
}
.kv_ttl-sub {
  font-size: 20px;
  font-weight: 400;
}
.kv_pic {
  margin-top: 60px;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: auto;
}
.kv_pic img {
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .kv_pic img {
    width: 1280px;
  }
}
.kv_pic-box {
  position: absolute;
  top: 17%;
  left: 13%;
  z-index: 7;
  background: rgba(255, 149, 0, 0.67);
  width: 216px;
  height: 216px;
  border-radius: 216px;
  transform: rotate(-11.965deg);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.kv_pic-text {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.32px;
  width: 100%;
  height: fit-content;
}
.kv_pic-text-large {
  font-size: 20px;
}

/* --------------------------------------*
 * nav
 *-------------------------------------- */
.navpc {
  position: fixed;
  right: 0;
  top: 25%;
  display: flex;
  height: 300px;
  flex-shrink: 0;
  align-items: center;
  z-index: 8;
  transition: transform 0.4s ease;
}
.navpc_button,
.navpc_button-close {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 95px;
  width: 29px;
  border-radius: 10px 0px 0px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
}
.navpc_button:hover,
.navpc_button-close:hover {
  background: rgba(128, 128, 128, 0.2);
}
.navpc_button::after,
.navpc_button-close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.2);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}
.navpc_button-close::after {
  transform-origin: right;
}

.navpc_button:hover::after,
.navpc_button-close:hover::after {
  transform: scaleX(1);
}
.navpc_button {
  background: rgba(250, 252, 255, 0.2);
}
.navpc_button-text,
.navpc_button-text-close {
  text-align: center;
  font-size: 9px;
  font-weight: 900;
  color: #ff9500;
  text-align: right;
  position: relative;
}
.navpc_button-text::before {
  font-weight: 500;
  font-size: 12px;
  content: "→";
  position: absolute;
  top: -9px;
  left: 11px;
}
.navpc_button-text-close::before {
  font-weight: 500;
  font-size: 12px;
  content: "←";
  position: absolute;
  top: -9px;
  left: 11px;
}
.navpc_ul {
  height: 100%;
  width: 108px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #fafcff;
  background: rgba(13, 124, 188, 0.8);
  justify-content: space-between;
  transition: background-color 0.3s ease;
}
.navpc_ul.hovered {
  background: rgba(13, 124, 188, 1);
}
.navpc_li {
  width: fit-content;
  margin: 0 auto;
}
.navpc_li:first-child {
  margin-top: 15px;
}
.navpc_li:last-child {
  margin: 0 0 25px 22px;
}
.navpc_li a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.navpc.hidden {
  display: none;
}
.navpc_ul.open {
  transform: translateX(0); /* UL が表示された状態 */
}

.navpc.closed {
  transform: translateX(110px); /* UL を画面外にスライド */
}

/* --------------------------------------*
 * headersp
 *-------------------------------------- */

/* --------------------------------------*
 * navsp
 *-------------------------------------- */

/* --------------------------------------*
 * era
 *-------------------------------------- */
.era .ttl_sub {
  left: 15%;
  font-weight: 700;
}
.era_now {
  margin-top: 181px;
  background-image: url(../img/era-now-bg25.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  aspect-ratio: 2.28;
}
.era_now img {
  width: 31.25%;
  position: absolute;
  left: 34.375%;
  top: 22.5%;
}
.era_columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22%;
  height: 80%;
}
.era_left-column,
.era_right-column {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.era_left-column .era_now-textbox:first-child {
  position: relative;
  left: 10%;
}
.era_right-column .era_now-textbox:first-child {
  position: relative;
  right: 10%;
}
.era_right-column .era_now-textbox:last-child {
  position: relative;
  right: 7%;
}
.era_now-text {
  padding: 13px 7.5%;
  border-radius: 20px;
  border: 4px solid #ff9500;
  white-space: nowrap;
  color: #0d7cbc;
  font-weight: 600;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
.era_now-text::before {
  position: absolute;
  bottom: -15px;
  content: "";
  width: 30px;
  height: 4px;
  background-color: #e98b06;
  left: 45.5%;
  z-index: 5;
}
.era_now-text::after {
  position: absolute;
  bottom: -4px;
  content: "";
  width: 25px;
  height: 4px;
  background-color: #b1bbbf;
  left: 47%;
  z-index: 4;
}
.era_left-column .era_now-text::before {
  transform: rotate(45deg);
}

.era_right-column .era_now-text::before {
  transform: rotate(-45deg);
}
.era_right-column .era_now-text::after {
  left: 45%;
}
.era_now-text-shadow {
  display: block;
  position: absolute;
  top: 5px;
  left: 8px;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 20px;
  opacity: 0.8;
  background: rgba(13, 124, 188, 0.2);
}

.era_now-stress {
  width: 519px;
  border-radius: 5px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  background: #0d7cbc;
  display: inline-flex;
  height: 143px;
  justify-content: right;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  bottom: -71.5px;
  left: 50%;
  transform: translateX(-50%);
}
.era_now-stress-box {
  top: -11px;
  left: 13px;
  position: absolute;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  background-color: #fff;
  border: #000 3px solid;
  border-radius: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.era_now-stress-box p {
  text-align: center;
  color: #000;
  font-size: 24px;
  font-weight: 600;
}
.era_now-stress-box p span {
  color: #0d7cbc;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.era_now-stress-now {
  margin-right: 57px;
  color: #fff;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.era_now-stress-now span {
  font-size: 28px;
  font-weight: 700;
}
.era_now-stress::before,
.era_now-stress::after {
  content: "";
  width: 80px;
  border-top: 4px rgba(0, 0, 0, 0.69) solid;
  position: absolute;
  transform: rotate(60deg);
  left: -100px;
  bottom: 30px;
}
.era_now-stress::after {
  transform: rotate(-60deg);
  left: 539px;
  bottom: 30px;
}
.era_senior {
  padding-top: 149px;
  padding-bottom: 117px;
  position: relative;
  background: rgba(13, 124, 188, 0.05);
}
.era_senior-phrase {
  font-weight: 600;
  margin-left: 5.7%;
}
.era_erasgallery {
  display: flex;
  justify-content: center;
  gap: 2.5%;
}
.era_erasgallery figure {
  position: relative;
  width: 180px;
  margin-top: 50px;
  margin-bottom: 141px;
}
@media screen and (max-width: 1280px) {
  .era_erasgallery figure {
    width: 14%;
  }
}
.era_senior-future .backtext-box {
  top: 309px;
}
.era_erasgallery figure img {
  width: 100%;
}
.era_erasgallery figure figcaption {
  width: 100%;
  position: absolute;
  bottom: 5px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.6);
}

.era_senoir-future {
  width: 100%;
}
.era_senior-future-text {
  width: 100%;
  text-align: center;
}
.era_senior-future-chance {
  font-weight: 700;
  margin-top: 29px;
  width: 100%;
  text-align: center;
}

/* --------------------------------------*
 * concerns
 *-------------------------------------- */
.concerns {
  margin-top: 138px;
  margin-bottom: 184px;
  position: relative;
}
.concerns_boxs {
  margin-top: 217px;
  display: flex;
  justify-content: center;
  gap: 3.5%;
}
.concerns_box {
  border-radius: 10px;
  border: 1px solid #989191;
  background: #fff;
  box-shadow: 2px 2px 2px 1px rgba(152, 145, 145, 0.7);
  width: 27.3%;
  max-width: 400px;
  position: relative;
}
.concerns_box-text {
  padding: 57px 10px 27px 18px;
  width: 90.5%;
  margin: 0 auto;
}
.concerns_box-text span {
  font-weight: 500;
  background-image: linear-gradient(
    to top,
    rgba(255, 149, 0, 0.4) 40%,
    transparent 40%
  );
  background-size: 100% 90%;
}
.concerns_box-mark {
  color: #fff;
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  padding: 22px 30px;
  border-radius: 180px;
  background-color: rgba(13, 124, 188, 0.95);
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.concerns_bottom {
  position: absolute;
  left: 50%;
  bottom: -170px;
  transform: translateX(-50%);
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1.96px;
}
.concerns_bottom span {
  position: relative;
}
.concerns_bottom span::before {
  position: absolute;
  top: -30px;
  left: -4px;
  content: "・";
  color: #ff9500;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1.12px;
}
/* --------------------------------------*
 * strengths
 *-------------------------------------- */

.strengths {
  overflow: hidden;
  background: #0d7cbc;
  position: relative;
}
.strengths h2 {
  margin-top: 221px;
  color: #fff;
  position: relative;
  z-index: 2;
}
.strengths .backtext-box {
  top: 95px;
  z-index: 1;
}
.strengths .backtext {
  color: rgb(255, 255, 255, 0.15);
}
.strengths_top {
  width: 744px;
  height: 191px;
  background-color: #fafcff;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  position: absolute;
  left: 50%;
  top: -116px;
  transform: translateX(-50%);
}

.strengths_parts {
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.strengths_part {
  margin: 0 auto;
  width: 70.3%;
  min-width: 800px;

  border-radius: 12px;
  background: #fff;
}
.strengths_part h3 {
  font-size: 28px;
  font-weight: 600;
  grid-column: 1/3;
}
.strengths_container {
  width: 83%;
  margin: 50px 0 30px 10%;
  position: relative;
  display: grid;
  grid-template-columns: 42% 56%;
  gap: 5%;
  margin-top: 50px;
}
.strengths_container::before {
  position: absolute;
  top: -20px;
  left: -50px;
  content: "・";
  color: #ff9500;
  font-size: 56px;
  font-weight: 400;
}
.strengths_part-left {
  margin-top: 20px;
}
.strengths_btn {
  position: absolute;
  margin-top: 17px;
  left: 0;
  bottom: -10px;
}

.strengths_part:nth-of-type(2) .strengths_sub {
  position: absolute;
  bottom: -4px;
  left: -16px;
}
.strengths_part:nth-of-type(2) .strengths_btn {
  bottom: 20px;
}
.strengths_part:nth-of-type(2) .strengths_btn {
  bottom: 20px;
}
.strengths_part:nth-of-type(2) .strengths_part-text {
  margin-bottom: 80px;
}
.strengths_part:nth-of-type(3) .strengths_btn {
  bottom: 10px;
}
.strengths_part:nth-of-type(3) .strengths_sub {
  margin-top: 20px;
}

.strengths_btn svg {
  position: absolute;
  bottom: -2px;
  left: -10px;
  transition: stroke 0.3s ease-in-out;
  z-index: 4;
}
.strengths_part:nth-of-type(2) .strengths_btn svg {
  left: -2px;
}

.strengths_btn svg:hover .hover-line {
  stroke-dashoffset: 0;
  animation: line-flow 1s linear forwards;
}
.strengths_btn svg .hover-line {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  transition: stroke 0.3s ease-in-out;
  pointer-events: none;
}
.strengths_btn a {
  font-weight: 600;
  color: #000;
  cursor: pointer;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}
.strengths_btn:hover a {
  text-shadow: 0 0.8px 1px #717070;
}
.strengths_sub {
  font-size: 16px;
  font-weight: 500;
}
.strengths_part-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.strengths_part-img {
  width: 100%;
  text-align: center;
}
.strengths_part-img img {
  width: 100%;
}
.strengths .case h2 {
  margin-top: 119px;
}
.strengths .ttl_underline::after {
  border-top: 5px solid #fff;
}
.case {
  margin-top: 119px;
  position: relative;
}
.case .backtext-box {
  top: -110px;
}
.case_container {
  margin-top: 169px;
  display: flex;
  justify-content: center;
  gap: 16.8%;
}
.case_box {
  padding-bottom: 75px;
}
.case_box figure {
  width: 320px;
  height: 150px;
  border-bottom: 1px solid #000;
  background: #fff;
  box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.case_box figure figcaption {
  width: 100%;
  position: absolute;
  color: #fff;
  text-align: center;
  bottom: -45px;
  font-weight: 600;
  font-size: 24px;
}
.case_box figure img {
  width: 200px;
}
.case_box-ttl {
  margin-top: 66px;
  color: #fff;
  font-weight: 500;
}
.case_box-text {
  position: relative;
  margin: 24px 0 0 18px;
  width: 311px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 5px 80px 80px 5px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.case_left .case_box-text p {
  margin: 0 20px;
}
.case_right .case_box-text p {
  width: 100%;
  text-align: center;
}
.case_box-text p span {
  display: block;
  text-align: right;
}
.case_box-text::before {
  position: absolute;
  top: -8px;
  left: -40px;
  content: "・";
  color: #ff9500;
  font-size: 48px;
  font-weight: 400;
}
/* --------------------------------------*
 * try
 *-------------------------------------- */

.try {
  width: 85.9%;
  margin: 0 auto;
  margin-top: 85px;
  display: grid;
  grid-template-columns: 78% 22%;
  grid-template-rows: auto auto auto;
}
.try h2 {
  grid-column: 1/3;
  margin-bottom: 87px;
}
.try_text {
  font-size: 16px;
  font-weight: 500;
}
.try_text-green {
  color: #21ba43;
  font-weight: 700;
  text-decoration: underline 2px solid;
  cursor: pointer;
}
.try_switch {
  justify-content: right;
  display: flex;
}
.try_switch p {
  align-self: center;
  font-size: 20px;
  font-weight: 600;
}
.try_switch-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  width: 120px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #ff9500;
  transition: background-color 0.8s ease-in-out;
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
.try_switch-btn.on {
  background-color: #21ba43;
  transition: all 0.8s ease-in-out;
  flex-direction: row-reverse;
}
.try_switch-btn-circle {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease-in-out, background-color 1s ease;
}
.try_switch-btn-circle:hover {
  transform: scale(1.05);
  background-color: #e7e5e5;
}

.try_switch-btn-text {
  width: 50px;
  height: 29px;
  padding-top: 3px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}
.try_container {
  position: relative;
  grid-column: 1/3;
  margin-top: 38px;
}
.try_container img {
  width: 100%;
}
.try_join {
  position: absolute;
  left: 50%;
  top: -25px;
  transform: translateX(-50%);
  width: 258px;
  height: 50px;
  border-radius: 20px;
  background: rgba(13, 124, 188, 0.97);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.try_join label {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding-bottom: 3px;
}
.try_join input {
  width: 113px;
  background: none;
  border: none;
  border-bottom: white 2px solid;
  outline: none;
  color: white;
}
.try_join button {
  border-radius: 2px;
  border: 1px solid #000;
  background: rgba(243, 243, 243, 0.8);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  flex-shrink: 0;
  padding: 3px 10px;
}
/* --------------------------------------*
 * uniquefeatures
 *-------------------------------------- */
.unique {
  width: 100%;
  margin-top: 130px;
  position: relative;
}
.unique .backtext-box {
  position: absolute;
  top: -38px;
}
.unique_container {
  margin-top: 175px;
}
.unique_part {
  text-align: center;
}
.unique_part .unique_img {
  width: 75%;
  min-width: 860px;
  max-width: 1280px;
}
.unique_part-ttl {
  width: fit-content;
  margin: 0 auto;
  font-weight: 600;
  margin-bottom: 80px;
  margin-top: 100px;
}
.unique_partc {
  width: 79%;
  max-width: 1280px;
  margin: 0 auto;
}
.unique_part-eg {
  font-size: 28px;
  font-weight: 600;
  text-align: left;
}
.unique_part-customize {
  display: flex;
  justify-content: center;
  margin: 19px auto;
  gap: 6%;
}
.unique_part-customize figure {
  width: 29%;
  position: relative;
}
.unique_part-customize figure img {
  width: 100%;
}
.unique_part-customize figure figcaption {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -43px;
  width: fit-content;
  white-space: nowrap;
}
.unique_part-sub {
  position: absolute;
  bottom: -97px;
  right: 3%;
  font-size: 16px;
  font-weight: 500;
}
/* --------------------------------------*
 * price
 *-------------------------------------- */
.price {
  margin-top: 198px;
  position: relative;
}
.price .backtext-box {
  top: -95px;
}
.price_container {
  background-image: url(../img/price-bg.png);

  width: 88.75%;
  margin: 185px auto 0;
  padding-bottom: 144px;
  border-radius: 15px;
  border: 1px solid #000;
  position: relative;
}
.price_text {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 32px 0 35px 6.5%;
  letter-spacing: 0.05em;
}
.price_plan-container {
  margin: 0 6.5%;
  display: flex;
  justify-content: center;
  gap: 12%;
}
.price_plan {
  border-radius: 20px;
  border: 1px solid #000;
  background: #fff;
  width: 44%;
}
.price_plan-ttl {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-top: 39px;
}
.price_plan-ttl span {
  position: relative;
  z-index: 1;
}
.price_plan-ttl span::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 23%;
  z-index: -1;
  background-image: linear-gradient(
    to top,
    rgba(33, 186, 67, 0.8) 100%,
    transparent 100%
  );
  background-size: 100% 90%;
  border-radius: 2px 4px 4px 2px;
}
.price_plan-business .price_plan-ttl span::before {
  background-image: linear-gradient(
    to top,
    rgba(255, 149, 0, 0.8) 100%,
    transparent 100%
  );
}
.price_plan img {
  display: block;
  margin: 17px auto 7px;
  width: 41.4%;
}
.price_plan-price {
  font-size: 24px;
  text-align: center;
}
.price_plan-price span:nth-child(1) {
  position: relative;
  font-weight: 600;
}
.price_plan-price span:nth-child(2) {
  color: #21ba43;
  font-size: 36px;
  font-weight: 600;
}
.price_plan-price span:nth-child(3) {
  font-size: 36px;
}
.price_plan-business .price_plan-price span:nth-child(2) {
  color: #ff9500;
  font-size: 36px;
  font-weight: 600;
}

.price_plan-cp {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 8px 0;
}
.price_plan-text {
  width: 80%;
  margin: 17px auto 25px;
  position: relative;
  font-weight: 500;
}
.price_plan-text::before {
  position: absolute;
  top: -8px;
  left: -25px;
  content: "・";

  color: #21ba43;
  font-size: 32px;
  font-weight: 600;
}
.price_plan-business .price_plan-text::before {
  color: #ff9500;
}
.price_sub {
  position: absolute;
  left: 6.5%;
  bottom: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.price_button {
  color: #fff;
  width: 280px;
  padding: 18px 0 21px;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  position: absolute;
  right: 6.5%;
  bottom: 40px;
  border-radius: 10px;
  background: #ff9500;
}
.price_button svg {
  position: absolute;
  top: 19px;
  right: 4px;
}

/* --------------------------------------*
 * step
 *-------------------------------------- */
.step {
  margin-top: 111px;
}
.step_container {
  background-image: url(../img/step-bg1.png);
  background-size: cover;
  width: 88.75%;
  margin: 206px auto 0;
  border-radius: 15px;
  position: relative;
  height: 700px;
  display: grid;
  grid-template-columns: 0.4fr 466px 1fr 670px 0.6fr;
}

.step_container-left {
  height: 700px;
}
.step_container-left h3 {
  color: #fff;
  width: fit-content;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2.24px;
  margin-top: 157px;
  margin-left: 36.26%;
  white-space: nowrap;
}
.step_container-left p {
  margin-top: 75px;
  margin-left: 31.115%;
  display: flex;
  justify-content: center;
  width: 260px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #fff;
  color: #0d7cbc;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 48px;
  align-items: center;
}
.step_container-right {
  height: 700px;
  position: relative;
  z-index: 2;
}
.step_container-right svg {
  position: absolute;
  top: -4px;
  z-index: -1;
}
.step_listnum li {
  position: absolute;
  color: #0d7cbc;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 3.2px;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.step_steplist li {
  position: absolute;
  width: fit-content;
  height: 90px;
  padding: 0 35px;
  border-radius: 20px;
  background: #fff;
  color: #0d7cbc;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.step_listnum li:nth-child(1) {
  top: 12px;
  left: 10px;
}
.step_listnum li:nth-child(2) {
  top: 194px;
  left: 110px;
}
.step_listnum li:nth-child(3) {
  top: 388px;
  left: 110px;
}
.step_listnum li:nth-child(4) {
  top: 574px;
  left: 10px;
}

.step_steplist li:nth-child(1) {
  top: 12px;
  left: 160px;
}
.step_steplist li:nth-child(2) {
  top: 194px;
  left: 260px;
}
.step_steplist li:nth-child(3) {
  top: 388px;
  left: 260px;
}
.step_steplist li:nth-child(4) {
  top: 574px;
  left: 160px;
}
.step_steplist li::before {
  content: url(../img/step-tri.svg);
  position: absolute;
  left: -20px;
  top: 28px;
}
@media screen and (max-width: 1279px) {
  .step_container {
    grid-template-columns: auto 650px;
    width: 90%;
  }
  .step_container-empty {
    display: none;
  }
  .step_container-left h3 {
    margin-left: 20%;
  }
  .step_container-left p {
    margin-left: 20%;
  }
}
@media screen and (max-width: 1000px) {
  .step_container-left p {
    width: 200px;
    height: 200px;
    margin-left: 18%;
  }
  .step_container-left h3 {
    margin-left: 18%;
  }
}
/* --------------------------------------*
 * faq
 *-------------------------------------- */
.faq {
  margin-top: 125px;
  position: relative;
}
.faq .backtext-box {
  top: -177px;
}
.faq_box {
  margin: 193px auto 113px;
  width: 75%;
}
.faq_container {
  border-bottom: 2px solid #ff9500;
  margin-bottom: 31px;
}
.faq-question {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 5px;
  margin-left: 20px;
  position: relative;
}
.faq-q {
  margin-right: 1%;
  color: #ff9500;
  font-size: 48px;
  font-family: Inter;
  font-weight: 600;
}
.faq-toggle {
  color: #ff9500;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  right: 1%;
  top: 11px;
}
.faq-answer {
  margin-left: 64px;
  margin-bottom: 5px;
}
/* --------------------------------------*
 * footer
 *-------------------------------------- */
.footer {
  background: #0d7cbc;
  height: 592px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.footer_left {
  margin: 77.5px 20.8% 77.5px 24.8%;
  min-width: 343px;
  border-radius: 20px;
  background: #fafcff;
}

.footer_logo {
  display: block;
  width: 150px;
  margin: 36px auto 30px;
}

.footer_left-cp {
  margin-bottom: 39px;
}

.footer_left-name {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 30px;
}

.footer_left-copyright small {
  font-size: 16px;
  letter-spacing: 0.32px;
}

.footer_right {
  margin-top: 77.5px;
  position: relative;
  right: 8%;
}

.footer_right-name {
  margin-bottom: 28px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

.footer_right-cp {
  color: #fff;
  font-weight: 300;
}

.footer_right-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 39%;
  margin: 59px auto 65px;
  gap: 28px 89px;
}
.footer_right-nav-left {
  text-align: right;
}
.footer_right-nav-right {
  text-align: left;
}
.footer_right-nav li a {
  color: #fff;
  font-weight: 400;
}
.footer_right .buttons {
  justify-content: center;
  gap: 89px;
}
